/* <!-- Credit: Using CSS and Bootstrap styling taken from  -->
<!-- https://bootsnipp.com/snippets/z8aQr -->
<!-- For this pretty login page --> */

/* Declare some variables for colors */
:root {
    --color1: darkolivegreen;
    --contrast1: #ffffff;
  }

/* Custom classes*/
.navbar-colors {
    background-color: var(--color1);
    color: var(--contrast1)
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: var(--color1);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: var(--contrast1);
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: var(--contrast1);
    background-color: var(--color1);
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: var(--color1);
    background-color: var(--contrast1);
}
.login-form-2 .flash{
    color: var(--contrast1);
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .flash{
    color: var(--color1);
    font-weight: 600;
    text-decoration: none;
}
